<%- include('partials/header') %> 
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Faça uma Pergunta!</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="salvarformulario">
                    <label>Nome da Pergunta</label>
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo">
                    <br><label>Descreva sua Pergunta aqui</label>
                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="descricao"></textarea>
                    <br>
                    <button type="submit" class="btn btn"style="background-color: MediumPurple;"> Mandar!</button>
                </form>
            </div>
        </div>
    </div>

</body>
<%- include('partials/footer') %>