<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: MediumPurple;">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png">
        </a>
    </nav>

    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Faça uma Pergunta!</h3>
            </div>
            <div class="card-body">
                <form>
                    <label>Nome da Pergunta</label>
                    <input type="text" placeholder="Titulo" class="form-control">
                    <br><label>Descreva sua Pergunta</label>
                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn"style="background-color: MediumPurple;"> Mandar!</button>
                </form>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script> 
</html>